.login-panel {
    max-width: 500px;
    margin: auto;
}
.login-panel__form-field {
    width: 100%;
}
mat-card-actions {
    display: flex;
    justify-content: space-between
}
.mat-card-header {
    text-align: center;
}
.mat-card-header {
    display: block;
}
@media only screen and (max-width: 600px) {
    .mat-list {
        margin-left: 15px;
        margin-right: 15px;
    }
}