<div class="content">
  <form 
    class="login-panel"
    [formGroup]="loginForm"
    (ngSubmit)="loginAction()" >
    <mat-card >
      <mat-card-header>
        <mat-card-title>Hello user</mat-card-title>
        <mat-card-subtitle>Please, type any credentials what you want!</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
          <mat-form-field class="login-panel__form-field">
            <input
              matInput
              placeholder="Username"
              name="username"
              formControlName="username"
            >
            <mat-hint>Please, use your real name, KGB doesn't chase us</mat-hint>
            <mat-error *ngIf="fieldRequiredError('username')">
                This field is required
            </mat-error>
          </mat-form-field>
          <mat-form-field class="login-panel__form-field">
            <input
                matInput
                placeholder="Enter your password"
                [type]="hide ? 'password' : 'text'"
                name="password"
                formControlName="password"
              >
              <mat-icon
                matSuffix
                (click)="hide = !hide"
              >
                {{hide ? 'visibility' : 'visibility_off'}}
            </mat-icon>
            <mat-error *ngIf="fieldRequiredError('password')">
                This field is required
            </mat-error>
            <mat-error *ngIf="passwordSuggestionError()">
                This field has to be "admin" to enter
            </mat-error>
          </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="accent">Log in</button>
        <app-back-to-home></app-back-to-home>
      </mat-card-actions>
    </mat-card>
  </form>
</div>

