<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>{{ title }}!</span>
    <a
      mat-mini-fab 
      color="accent"
      class="github-link"
      target="_blank"
      href="https://github.com/Rudchyk/mentor"
    >
      <img src="../assets/ui/github-circle-white-transparent.svg" alt="github">
    </a>
    <span class="spacer"></span>
    <a
      mat-flat-button
      routerLink="/login"
      color="accent"
      routerLinkActive="active"
      *ngIf="!isUserLoggedIn(); else elseBlock"
    >
      Log In
    </a>
    <ng-template #elseBlock>
      Welcome&nbsp;<a routerLink="/admin" class="admin-link" >{{ currentUserName() }}</a>.
      &nbsp;
      <a mat-mini-fab color="accent" title="Log Out" (click)="logOut()">
        <mat-icon aria-label="Log Out" >directions_run</mat-icon>
      </a>
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>

