table {
    width: 100%;
}
.mat-column-actions {
    text-align: right;
}
.mat-mini-fab {
    margin-left: 10px;
}
.admin__save-panel {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}